<h1>List of Books</h1>

<em><a href="/books/new">Add a new book!</a></em>

<ul>
    <% @books.each do |book| %>
        <li><a href="/books/<%= book.id %>">
            <%= book.title %>
        </a> by <b><%= book.author.name %></b></li>
    <% end %>
</ul>
