<h1>Add a cool Book</h1>

<form action="/books" method="POST">
    <input type="text" name="title" placeholder="Title" />
    <input type="text" name="author" placeholder="Author" />
    <input type="text" name="snippet" placeholder="Snippet" />
    <input type="submit" value="Save Book!" />
</form>
