<form action="/cohorts" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label>
    <input type="text" name="cohort[name]" value="<%= @cohort.name %>">
  </label>

  <input type="submit">
</form>


<% @cohort.errors.each do |field, message| %>
  <span style="color: red">
    <%= field %>: <%= message %>
  <span>
<% end %>
